{{- if .Values.service.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "vector.fullname" . }}
  labels:
    {{- include "vector.labels" . | nindent 4 }}
spec:
  ports:
{{- if not .Values.customConfig }}
    - name: api
      port: 8686
      protocol: TCP
{{- if (eq .Values.role "Aggregator") }}
    - name: datadog-agent
      port: 8282
      protocol: TCP
    - name: fluent
      port: 24224
      protocol: TCP
    - name: logstash
      port: 5044
      protocol: TCP
    - name: splunk-hec
      port: 8080
      protocol: TCP
    - name: statsd
      port: 8125
      protocol: TCP
    - name: syslog
      port: 9000
      protocol: TCP
    - name: vector
      port: 6000
      protocol: TCP
{{- end }}
{{- else if .Values.customConfig.api.enabled }}
    - name: api
      port: {{ mustRegexFind "[0-9]+$" .Values.customConfig.api.address }}
      protocol: TCP
{{- end }}
  {{- include "vector.ports" . | indent 4 }}
  selector:
    {{- include "vector.selectorLabels" . | nindent 4 }}
  type: ClusterIP
{{- end }}
